.image-preview-overlay {
  opacity: 0;
  transition: opacity 0.3s;
}
.image-preview-overlay:hover {
  opacity: 1;
}

.image-preview {
  width: 100%;
  height: auto;
  object-fit: cover;
  max-width: 400px;
  max-height: 440px;
}

@media (max-width: 1000px) {
  .image-preview {
    max-width: 800px;
    max-height: 300px;
  }
}

@media (max-width: 700px) {
  .image-preview {
    max-width: 600px;
    max-height: 250px;
  }
}
